.bookCard {
	width: 21.5rem;
	height: 11.5rem;
	background-color: var(--white-background);
	display: flex;
	flex-direction: row;
	margin: 0 2rem 4rem 0;
	padding-bottom: 0.5rem;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06), 0 3px 10px 0 rgba(0, 0, 0, 0.08);
}

.image {
	width: 5.3rem;
	height: 9rem;
	position: relative;
	margin: -1rem 1rem 1rem 0.5rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bookDetails {
	position: relative;
	margin: 0.7rem 0.2rem 0.4rem 0;
}

.title {
	font-size: 1rem;
	color: var(--dark-grey-text);
	margin: 0 0 0.5rem 0;
}

.info {
	font-size: 0.8rem;
	color: var(--light-grey-text);
	margin: 0 0 0.3rem 0;
}

.bookButton {
	position: absolute;
	bottom: 0;
	width: 60%;
	height: 2rem;
	background-color: var(--green-button);
	font-size: 0.85rem;
	letter-spacing: 0.08rem;
	border: none;
	border-radius: 0.7rem;
	cursor: pointer;
}

.link {
	text-decoration: none;
	color: var(--white-background);
}

@media screen and (min-width: 800px) {
	.bookCard {
		width: 30rem;
		height: 16rem;
		margin: 1rem 1rem 2rem 0;
	}

	.image {
		width: 8rem;
		height: 12rem;
		margin: -1.6rem 1.5rem 3rem 0.8rem;
	}

	.title {
		font-size: 1.3rem;
		margin: 0.4rem 0 0.7rem 0;
	}

	.info {
		font-size: 1.1rem;
		margin: 0 0 0.3rem 0;
	}

	.bookButton {
		width: 55%;
		height: 2rem;
		font-size: 1rem;
		bottom: 0.8rem;
	}
}

@media screen and (min-width: 1000px) {
	.bookCard {
		margin: 2rem 1rem 2rem 0;
	}
}
