.container {
	display: flex;
	flex-direction: column;
}

.search {
	display: flex;
	justify-content: center;
	width: 100%;
}

.searchBar {
	border: 0.002rem solid #808080;
	height: 1.6rem;
	width: 60%;
	outline: none;
	font-size: 0.85rem;
	letter-spacing: 0.08rem;
	color: #a9a9a9;
	padding-left: 0.5rem;
}

::placeholder {
	color: #a9a9a9;
}

.searchBar:focus {
	border: 0.02rem solid #1e90ff;
}

.searchButton {
	background-color: #3cb371;
	width: 20%;
	color: #ffffff;
	border: none;
	font-size: 1rem;
	letter-spacing: 0.08rem;
}

.list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 4rem;
	list-style: none;
	padding-left: 1.3rem;
}

@media screen and (min-width: 800px) {
	.searchBar {
		height: 1.8rem;
		font-size: 1rem;
	}
	.searchButton {
		width: 5rem;
	}
}
